certifi==2025.11.12
charset-normalizer==3.4.4
emoji==2.15.0
idna==3.11
inflect==7.5.0
more-itertools==10.8.0
pyfiglet==1.0.4
requests==2.32.5
typeguard==4.4.4
typing_extensions==4.15.0
urllib3==2.6.2
